header{
    background-color:#C0C0C0;
}

.button{
    background-color: black;
    color:white;
    margin-top:10px;
}

#footer{
position:fixed;
height:50px;
background-color:#C0C0C0;
bottom:0px;
left:0px;
right:0px;
margin-bottom:0px;
}
body{
margin-bottom:50px;
} 


.button2{
    background-color: black;
    color:white;
    margin-top:10px;
    margin-left:10px;
}

ul{
    list-style: none;
    padding-left:10px;
    
}
li{
    display: inline-block;
}

.traderdesktop{
    padding:10px 0px 0px 0px;
    font-weight: bold;
}

.tradername{
    font-style: italic;
    padding:10px 0px 0px 0px;    
}

.signout{
    color:#0000FF;
    padding: 10px 10px 0px 0px;
} 

hr{
    margin-top:0px;
    margin-bottom:0px;
    color:black;
}
/*.icon{
    width:30px;
    height:25px;
    margin-top:10px;    
}*/
.chart{
    margin-right:10px;
}
